In [5]:
import pandas as pd
import networkx as nx
import numpy as np

In [6]:
ABSIII = pd.DataFrame({'Year':[2003,2004,2005,2006,2007,2008,2009,2010],\
                              'Aaa':['0.00','0.00','0.00','0.00','0.00','0.00','0.00','0.00'],\
                              'Aa1':['0.00','0.00','0.00','0.00','0.00','0.00','0.00','0.00'],\
                              'Aa2':['0.00','0.00','0.00','0.00','0.00','0.00','0.00','0.00'],\
                              'Aa3':['0.00','0.00','0.00','0.00','0.00','1.49','0.00','0.00'],\
                              'A1':['0.00','0.00','0.00','0.00','0.00','1.05','0.00','0.31'],\
                              'A2':['0.00','0.00','0.00','0.00','0.00','0.23','0.00','0.00'],\
                              'A3':['0.00','0.00','0.00','0.00','0.00','0.00','0.69','0.22'],\
                              'Baa1':['0.00','0.00','0.00','0.00','0.00','0.97','1.02','0.00'],\
                              'Baa2':['0.00','0.00','0.22','0.00','0.00','1.38','0.87','0.00'],\
                              'Baa3':['0.00','0.00','0.29','0.00','0.00','0.61','0.91','0.24'],\
                              'Ba1':['0.54','0.00','0.00','0.00','0.00','0.92','1.43','0.00'],\
                              'Ba2':['0.62','0.00','0.00','0.00','0.00','2.97','1.21','0.00'],\
                              'Ba3':['1.39','0.98','0.00','0.64','0.00','3.30','2.58','0.00'],\
                              'B1':['0.70','0.00','0.00','0.65','0.00','3.04','3.37','0.84'],\
                              'B2':['2.66','0.56','0.50','0.30','0.00','3.98','6.89','0.00'],\
                              'B3':['5.21','2.20','2.02','2.11','0.00','4.60','10.00','0.28'],\
                              'Caa1':['9.68','7.81','4.50','2.39','1.85','5.92','11.61','1.77'],\
                              'Caa2':['22.39','9.17','6.07','7.51','10.52','17.52','54.77','7.33'],\
                              'Caa3':['27.42','11.91','23.48','13.71','6.91','35.32','54.00','64.84'],\
                              'Ca - C':['30.32','29.13','13.82','14.59','41.39','42.40','64.84','25.20']})

neworder = ['Aaa','Aa1','Aa2','Aa3','A1','A2','A3','Baa1','Baa2','Baa3','Ba1','Ba2','Ba3','B1','B2','B3','Caa1','Caa2','Caa3','Ca - C']
ABSIII = ABSIII.set_index('Year')
ABSIII = ABSIII[neworder]
ABSIII

,Aaa,Aa1,Aa2,Aa3,A1,A2,A3,Baa1,Baa2,Baa3,Ba1,Ba2,Ba3,B1,B2,B3,Caa1,Caa2,Caa3,Ca - C
Year,,,,,,,,,,,,,,,,,,,,
2003,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.54,0.62,1.39,0.70,2.66,5.21,9.68,22.39,27.42,30.32
2004,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.98,0.00,0.56,2.20,7.81,9.17,11.91,29.13
2005,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.29,0.00,0.00,0.00,0.00,0.50,2.02,4.50,6.07,23.48,13.82
2006,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.64,0.65,0.30,2.11,2.39,7.51,13.71,14.59
2007,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.85,10.52,6.91,41.39
2008,0.00,0.00,0.00,1.49,1.05,0.23,0.00,0.97,1.38,0.61,0.92,2.97,3.30,3.04,3.98,4.60,5.92,17.52,35.32,42.40
2009,0.00,0.00,0.00,0.00,0.00,0.00,0.69,1.02,0.87,0.91,1.43,1.21,2.58,3.37,6.89,10.00,11.61,54.77,54.00,64.84
2010,0.00,0.00,0.00,0.00,0.31,0.00,0.22,0.00,0.00,0.24,0.00,0.00,0.00,0.84,0.00,0.28,1.77,7.33,64.84,25.20